html {
  background-image: url("background.jpg");
  background-size: cover;
}

.hidden {
  display: none;
}

.App {
  text-align: center;
  width: 50%;
  margin: 30px auto;
  background-color: rgba(226, 231, 235, 0.295);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Barlow', sans-serif;
}

h1 {
  margin: 40px 0px;
  font-family: 'Abril Fatface', cursive;
  font-size: 230%;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 1px 1px rgba(33, 32, 34, 0.568);
  border-bottom: 1px solid#005cc8;
}

form {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.male,
.female {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 28%;
  font-size: 110%;
}

input {
  padding: 5px 5px;
  width: 100px;
  margin: 7px;
  font-size: 90%;
  border: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 155px;
  margin: 5px;
  border-radius: 8px;
}

.wrapper p {
  padding: 0px 4px;
}

.gender {
  display: flex;
}

.activity {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px 0px;
}

#activity {
  font-size: 100%;
  margin: 5px 0px;
  padding: 5px;
  border-radius: 8px;
}

button {
  margin: 10px 0px;
  font-size: 100%;
  border-radius: 10px;
  border: 1px solid rgba(29, 24, 94, 0.219);
  background-color: #005cc8;
  color: antiquewhite;
  text-shadow: 1px 1px rgba(10, 14, 61, 0.685);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px 14px;
}

.calculations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0px;
  font-size: 110%;
}

#maintenance {
  font-weight: 600;
  font-size: 105%;
}

.info {
  width: 80%;
  margin: auto;
  font-size: 70%;
}